{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*{
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;	
}

.banner{
	background-image: url('./images/csbg.png');
	background-size: cover;
	background-attachment: height;
	background-repeat: no-repeat;
	margin-bottom: none;

}

#info{
	min-width: 70%;
	font-size: x-large;
	

}

#gallery{
	background-image: url('./images/bck.png');
	margin-bottom: 25px;

}

#myprojects{
	background-image: url('./images/bck.png');
	background-size: cover;
}

#last{
	background-image: url(./images/bgc.jpg);
}
